.fireWorkFirst {
    width: 5px;
    height: 23px;
    background-color: red;
    position: absolute;
    bottom: 125px;
    /* animation-name: fire; */
    animation-duration: 2s;
    /* animation-delay: 10s; */
    animation-fill-mode: both;
    z-index: -11;
}

#fireWork1 {
    left: 288px;
    animation-name: fire1;
    /* animation-delay: 13.6s; */
}

#fireWork2 {
    left: 338px;
    animation-name: fire2;
    /* animation-delay: 14.1s; */
}

#fireWork3 {
    left: 488px;
    animation-name: fire3;
    /* animation-delay: 15.5s; */
}

#fireWork4 {
    left: 438px;
    animation-name: fire4;
    /* animation-delay: 16.7s; */
}

#fireWork5 {
    left: 388px;
    animation-name: fire5;
    /* animation-delay: 16.3s; */
}

@keyframes fire1 {
    0% {
        background-color: white;
    }

    75% {
        height: 10px;
        background-color: red;
        transform: translateY(-330px);
        border-radius: 2px;
    }

    90% {
        background-color: red;
        transform: translateY(-330px);
        height: 5px;
        border-radius: 2.5px;
    }

    100% {
        background-color: white;
        transform: translateY(-330px);
        height: 5px;
        border-radius: 2.5px;
    }
}

@keyframes fire2 {
    0% {
        background-color: white;
    }

    75% {
        height: 10px;
        background-color: red;
        transform: translateY(-350px);
        border-radius: 2px;
    }

    90% {
        background-color: red;
        transform: translateY(-350px);
        height: 5px;
        border-radius: 2.5px;
    }

    100% {
        background-color: white;
        transform: translateY(-350px);
        height: 5px;
        border-radius: 2.5px;
    }
}

@keyframes fire3 {
    0% {
        background-color: white;
    }

    75% {
        height: 10px;
        background-color: red;
        transform: translateY(-380px);
        border-radius: 2px;
    }

    90% {
        background-color: red;
        transform: translateY(-380px);
        height: 5px;
        border-radius: 2.5px;
    }

    100% {
        background-color: white;
        transform: translateY(-380px);
        height: 5px;
        border-radius: 2.5px;
    }
}

@keyframes fire4 {
    0% {
        background-color: white;
    }

    75% {
        height: 10px;
        background-color: red;
        transform: translateY(-420px);
        border-radius: 2px;
    }

    90% {
        background-color: red;
        transform: translateY(-420px);
        height: 5px;
        border-radius: 2.5px;
    }

    100% {
        background-color: white;
        transform: translateY(-420px);
        height: 5px;
        border-radius: 2.5px;
    }
}

@keyframes fire5 {
    0% {
        background-color: white;
    }

    75% {
        height: 10px;
        background-color: red;
        transform: translateY(-400px);
        border-radius: 2px;
    }

    90% {
        background-color: red;
        transform: translateY(-400px);
        height: 5px;
        border-radius: 2.5px;
    }

    100% {
        background-color: white;
        transform: translateY(-400px);
        height: 5px;
        border-radius: 2.5px;
    }
}
