#Flame1 {
    width: 300px;
    height: 300px;
    /* background-color: rebeccapurple; */
    border-radius: 150px;
    position: absolute;
    left: 142px;
    top: 145px;
    z-index: -11;
}

.fireFlame1 {
    width: 30px;
    height: 5px;
    position: absolute;
    animation-delay: 0s;
    animation-duration: 1s;
    animation-fill-mode: both;
    /* background-color: aqua; */
}

#flame11 {
    left: 158px;
    top: 150px;
    animation-name: flame11;
}

@keyframes flame11 {
    0% {}

    100% {
        transform: translateX(112px);
        /* 30px 递减*/
        background-color: white;
        height: 2px;
    }
}

#flame12 {
    left: 112.5px;
    top: 150px;
    animation-name: flame12;
}

@keyframes flame12 {
    0% {
        /* transform: translateX(0px); */
    }

    100% {
        transform: translateX(-112px);
        background-color: white;
        height: 2px;
    }
}

#flame13 {
    left: 135.5px;
    top: 126px;
    animation-name: flame13;
}

@keyframes flame13 {
    0% {
        transform: rotate(90deg);
    }

    100% {
        transform: rotate(90deg);
        top: 18.5px;
        /* 8px 递减*/
        background-color: white;
        height: 2px;
    }
}

#flame14 {
    left: 135.5px;
    top: 173px;
    animation-name: flame14;
}

@keyframes flame14 {
    0% {
        transform: rotate(-90deg);
    }

    100% {
        transform: rotate(-90deg);
        /*此处只能用top和left进行平移*/
        top: 276.5px;
        background-color: white;
        height: 2px;
    }
}

#flame15 {
    left: 159px;
    top: 173px;
    animation-name: flame15;
}

@keyframes flame15 {

    /*右下*/
    0% {
        transform: rotate(45deg);
    }

    100% {
        transform: rotate(45deg);
        /*此处只能用top和left进行平移*/
        left: 234px;
        top: 239.5px;
        background-color: white;
        height: 2px;
    }
}

#flame16 {
    left: 114px;
    top: 173px;
    animation-name: flame16;
}

@keyframes flame16 {

    /*左下*/
    0% {
        transform: rotate(135deg);
    }

    100% {
        transform: rotate(135deg);
        /*此处只能用top和left进行平移*/
        top: 243.5px;
        left: 39.5px;
        background-color: white;
        height: 2px;
    }
}

#flame17 {
    left: 163px;
    top: 125px;
    animation-name: flame17;
}

@keyframes flame17 {

    /*右上*/
    0% {
        transform: rotate(-45deg);
    }

    100% {
        transform: rotate(-45deg);
        /*此处只能用top和left进行平移*/
        top: 60.5px;
        left: 236px;
        background-color: white;
        height: 2px;
    }
}

#flame18 {
    /*左上*/
    left: 118px;
    top: 125px;
    animation-name: flame18;
}

@keyframes flame18 {
    0% {
        transform: rotate(-135deg);
    }

    100% {
        transform: rotate(-135deg);
        /*此处只能用top和left进行平移*/
        top: 60.5px;
        left: 34px;
        background-color: white;
        height: 2px;
    }
}

.fireFlame2 {
    width: 25px;
    height: 5px;
    position: absolute;
    animation-delay: 0s;
    animation-duration: 1s;
    animation-fill-mode: both;
    /* background-color: rgb(255, 255, 5); */
}

#flame21 {
    left: 154px;
    top: 150px;
    animation-name: flame21;
}

@keyframes flame21 {

    /*正右*/
    0% {}

    100% {
        transform: translateX(74px);
        background-color: white;
        height: 2px;
    }
}

#flame22 {
    left: 108.5px;
    top: 150px;
    animation-name: flame22;
}

@keyframes flame22 {

    /*正左*/
    0% {
        /* transform: translateX(0px); */
    }

    100% {
        transform: translateX(-64px);
        background-color: white;
        height: 2px;
    }
}

#flame23 {
    left: 138px;
    top: 126px;
    animation-name: flame23;
}

@keyframes flame23 {
    0% {
        transform: rotate(90deg);
    }

    100% {
        transform: rotate(90deg);
        top: 60px;
        background-color: white;
        height: 2px;
    }
}

#flame24 {
    left: 138px;
    top: 173px;
    animation-name: flame24;
    /* background-color: rgb(223, 156, 13); */
}

@keyframes flame24 {
    0% {
        transform: rotate(-90deg);
    }

    100% {
        transform: rotate(-90deg);
        /*此处只能用top和left进行平移*/
        top: 230px;
        background-color: white;
        height: 2px;
    }
}

#flame25 {
    left: 159px;
    top: 173px;
    animation-name: flame25;
}

@keyframes flame25 {
    0% {
        transform: rotate(45deg);
    }

    100% {
        transform: rotate(45deg);
        /*此处只能用top和left进行平移*/
        left: 205px;
        top: 212.5px;
        background-color: white;
        height: 2px;
    }
}

#flame26 {
    left: 114px;
    top: 173px;
    animation-name: flame26;
}

@keyframes flame26 {
    0% {
        transform: rotate(135deg);
    }

    100% {
        transform: rotate(135deg);
        /*此处只能用top和left进行平移*/
        top: 212.5px;
        left: 75px;
        background-color: white;
        height: 2px;
    }
}

#flame27 {
    left: 159px;
    top: 125px;
    animation-name: flame27;
}

@keyframes flame27 {
    0% {
        transform: rotate(-45deg);
    }

    100% {
        transform: rotate(-45deg);
        /*此处只能用top和left进行平移*/
        top: 92px;
        left: 205.5px;
        background-color: white;
        height: 2px;
    }
}

#flame28 {
    left: 110px;
    top: 125px;
    animation-name: flame28;
}

@keyframes flame28 {
    0% {
        transform: rotate(-135deg);
    }

    100% {
        transform: rotate(-135deg);
        /*此处只能用top和left进行平移*/
        top: 92px;
        left: 67.5px;
        background-color: white;
        height: 2px;
    }
}

.fireFlame3 {
    width: 20px;
    height: 5px;
    position: absolute;
    animation-delay: 0s;
    animation-duration: 1.5s;
    animation-fill-mode: both;
}

#flame31 {
    left: 154px;
    top: 149.5px;
    animation-name: flame31;
}

@keyframes flame31 {
    0% {
        /* transform: translateX(0px); */
    }

    100% {
        transform: translateX(50px);
        background-color: white;
        height: 3px;
    }
}

#flame32 {
    left: 108.5px;
    top: 149.5px;
    animation-name: flame32;
}

@keyframes flame32 {
    0% {
        /* transform: translateX(0px); */
    }

    100% {
        transform: translateX(-35px);
        background-color: white;
        height: 3px;
    }
}

#flame33 {
    left: 140.5px;
    top: 126px;
    animation-name: flame33;
}

@keyframes flame33 {
    0% {
        transform: rotate(90deg);
    }

    100% {
        transform: rotate(90deg);
        top: 87px;
        background-color: white;
        height: 3px;
    }
}

#flame34 {
    left: 140.5px;
    top: 173px;
    animation-name: flame34;
}

@keyframes flame34 {
    0% {
        transform: rotate(-90deg);
    }

    100% {
        transform: rotate(-90deg);
        /*此处只能用top和left进行平移*/
        top: 202px;
        background-color: white;
        height: 3px;
    }
}

#flame35 {
    left: 159px;
    top: 173px;
    animation-name: flame35;
}

@keyframes flame35 {
    0% {
        transform: rotate(45deg);
    }

    100% {
        transform: rotate(45deg);
        /*此处只能用top和left进行平移*/
        left: 180px;
        top: 185.5px;
        background-color: white;
        height: 3px;
    }
}

#flame36 {
    left: 114px;
    top: 173px;
    animation-name: flame36;
}

@keyframes flame36 {
    0% {
        transform: rotate(135deg);
    }

    100% {
        transform: rotate(135deg);
        /*此处只能用top和left进行平移*/
        top: 185.5px;
        left: 104px;
        background-color: white;
        height: 3px;
    }
}

#flame37 {
    left: 159px;
    top: 125px;
    animation-name: flame37;
}

@keyframes flame37 {
    0% {
        transform: rotate(-45deg);
    }

    100% {
        transform: rotate(-45deg);
        /*此处只能用top和left进行平移*/
        top: 123px;
        left: 180px;
        background-color: white;
        height: 3px;
    }
}

#flame38 {
    left: 114px;
    top: 125px;
    animation-name: flame38;
}

@keyframes flame38 {
    0% {
        transform: rotate(-135deg);
    }

    100% {
        transform: rotate(-135deg);
        /*此处只能用top和left进行平移*/
        top: 123px;
        left: 104px;
        background-color: white;
        height: 3px;
    }
}